.poll-results
  each votes, option in poll.options
    .option-result
      span.option-name #{option}
      | : 
      span.vote-count #{votes.count} 
      | votes
  .chart-canvas
    canvas.poll-chart
