extends ../layout.pug

block title
  | Polls

block content
  .row
    include _chart_list.pug
  if user
    .row.mt-3
      .btn-group.mr-auto
        a.btn.btn-primary(href="/voting-app/polls/new") New poll

block scripts
  script(src="https://www.gstatic.com/charts/loader.js")
  script(src="/scripts/chart.js")
  script
    | window.hideChartLegend = true;
