extends ../layout.pug

block title
  | Polls

block content
  ul.list-group
  each poll in polls
    li.list-group-item 
      a(href="/voting-app/poll/#{poll.name}") 
      if user && poll.owner == user.name
        .btn-group.ml-auto
          a(href="/voting-app/poll/#{poll.name}")

      

