extends ../layout.pug

block title
  | Polls

block content
  .row
    .card-group
      each poll in polls
        .card.p-1
          .card-block
            h3.card-title
              a(href="/voting-app/poll/" + poll.name) #{poll.name}
          .card-text #{poll.description}
          if user && (poll.user === user.name)
            form.btn-group.ml-auto(method="post", action="/voting-app/poll/" + poll.name + "?_method=DELETE")
              a.btn.btn-secondary(href="/voting-app/poll/" + poll.name + "/edit") Edit
              button.btn.btn-danger(type="submit") Delete
      else
        | No polls
  if user
    .row.mt-3
      .btn-group.mr-auto
        a.btn.btn-primary(href="/voting-app/polls/new") New poll

