doctype html
head
  title Projects for FreeCodeCamp
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  link(href="/styles/style.css", rel="stylesheet", type="text/css")

body
  h1 Projects for FreeCodeCamp
  ul
    li
      a(href="/imgsrch") Image Search Abstraction Layer
