doctype html
head
  title Projects for FreeCodeCamp
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  link(href="/styles/style.css", rel="stylesheet", type="text/css")

body
  h1 Projects for FreeCodeCamp
  h2 Microservice API
  ul
    li
      a(href="/imgsrch") Image Search Abstraction Layer
    li
      a(href="/filedata") File Metadata Microservice
  h2 Full-stack projects
  ul
    li
      a(href="/voting-app") Voting app
    li
      a(href=path.index_venues()) Nightlife coordinator
