doctype html
head
  title Log in
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
body
  form(action="/login", method="post")
    input(type="text", name="username", placeholder="Username")
    input(type="password", name="password", placeholder="Password")
    input(type="Submit", text="Log in" )


