extends layout.pug

block title 
  | Log in!

block content
  form(action="/login", method="post")
    .form-group
      label(for="email") Email
      input.form-control#email(type="email", name="email", placeholder="Email address")
    .form-group
      label(for="password") Password
      input.form-control#password(type="password", name="password", placeholder="Password")
    input.btn.btn-primary(type="Submit", value="Log in")


