extends layout.pug

block title 
  | Log in!

block content
  form(action="/login", method="post")
    input(type="email", name="email", placeholder="Email address")
    input(type="password", name="password", placeholder="Password")
    input(type="Submit", text="Log in" )


