extends layout.pug

block title
  | Profile of #{user.name}

block content
  p= user.email
  h2 My polls
  include polls/_chart_list.pug

block scripts
  script(src="https://www.gstatic.com/charts/loader.js")
  script(src="/scripts/chart.js")
  script
    | window.hideChartLegend = true;
    
