extends layout.pug

block title
  | Sign up!

block content
  form(action="signup", method="post")
    input(type="text", name="username", placeholder="Username")
    input(type="email", name="email", placeholder="Email address")
    input(type="password", name="password", placeholder="Password")
    input(type="password", placeholder="Password again")
    input(type="Submit", text="Sign up")

