extends layout.pug

block title
  | Sign up!

block content
  form(action="signup", method="post")
    .form-group
      label(for="username") User name
      input.form-control#username(type="text", name="username", placeholder="Username", required=true)
    .form-group
      label(for="email") Email
      input.form-control#email(type="email", name="email", placeholder="Email address", required=true)
    .form-group
      label(for="password") Password
      input.form-control#password(type="password", name="password", placeholder="Password", required=true)
    .form-group
      label(for="confirm-password") Confirm password
      input.form-control#confirm-password(type="password", placeholder="Password again", required=true)
    input.btn.btn-primary(type="Submit", value="Sign up")

